table {
  border-collapse: collapse
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6
}

.table td {
  line-height: 10px;
}

.prev-next-btn{
  float:left;
  width: 150px;
  margin-right:15px;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.54);
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6
}

.slot {
  background-color: aliceblue;
  cursor: pointer;
  transition: 0.2s;
  width: 13%;
}

.slot-holiday {
  background-color: #3f51b5;
  cursor: default;
  transition: 0.2s;
}

.slot-holiday:hover {
  background-color: #3f51b5;
  cursor: default;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.slot:hover {
  background-color: #3f51b5;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.taken{
  background-color: #f44336;
}

.taken:hover {
  background-color: #d24a4b;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.small-date{
  font-size: 12px;
  font-weight: 500;
  color: #c6c8ca;
}

.time{
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.54);
  width: 80px;
}

.shadow {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
