@import "~src/css/breakpoints";
@import "~src/css/images";
@import "~src/css/colors";

@mixin shadow-heavy {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

@mixin shadow-light {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.background__image--set-image {
    background-image: url($calendar);  
}

// .background__image--set-image::after {
//     display: block;
//     position: relative;
//     background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #ffff 100%);
//     margin-top: -150px;
//     height: 150px;
//     width: 100%;
//     content: '';
//     z-index: 1;
//   }

.prev-next-btn {
    float: left;
    width: 150px;
    margin-right: 15px;
    @media (max-width: $mobile-large) {
        width: auto;
    }
}

.calendar__table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    margin-bottom: 0;
}

.calendar__th {
    background-color: #ffffff;
    padding: .5rem;
    border-top: 1px solid $color-light;
    text-align: center;
    font-size: .75rem;
    color: $color-dark;
    @media (max-width: $mobile-large) {
        padding: .2rem;
        font-size: .6rem;
    }
}

.calendar__th--small-date {
    font-size: .75rem;
    font-weight: 500;
    color: #c6c8ca;
    @media (max-width: $mobile-large) {
        font-size: .6rem;
    }
}

.calendar__td {
    padding: .5rem;
    vertical-align: top;
    border-top: 1px solid $color-light;
    line-height: 1.5rem;
    @media (max-width: $mobile-large) {
        padding: .2rem;
        text-align: center;
    }
}

.calendar__td-time {
    font-size: .75rem;
    font-weight: 600;
    color: $color-dark;
    width: 10%;
    background-color: #ffffff;
    @media (max-width: $mobile-large) {
        font-size: .6rem;
    }
}

.calendar__select-slot {
    background-color: $color-primary-light;
    cursor: pointer;
    transition: 0.2s;
    width: 13%;
    @media (max-width: $mobile-large) {
        width: 15%;
    }
}

.calendar__select-slot:hover {
    background-color: $color-primary;
    @include shadow-heavy;
}

.calendar__select-slot--taken {
    background-color: #f44336;
}

.calendar__select-slot--taken:hover {
    background-color: #d24a4b;
    @include shadow-heavy;
}

.calendar__select-slot--holiday {
    background-color: $color-primary;
    cursor: default;
    transition: 0.2s;
}

.calendar__select-slot--holiday:hover {
    @include shadow-heavy;
}

.shadow {
    @include shadow-light;
}