<div class="main-content">
  <h1>Book your visit</h1>
  <div>
    <div>
      <button class="prev-next-btn" mat-raised-button color="primary" (click)="prevWeek($event)">
        <mat-icon>chevron_left</mat-icon>
        Previous week
      </button>
    </div>
    <div>
      <button class="prev-next-btn" mat-raised-button color="primary" (click)="nextWeek($event)">
        Next week
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
  <!--<div class="container-flex">-->
  <!--<button mat-raised-button (click)="prevWeek($event)">-->
  <!--<mat-icon>chevron_left</mat-icon>-->
  <!--Previous week-->
  <!--</button>-->
  <!--<button mat-raised-button (click)="nextWeek($event)">-->
  <!--Next week-->
  <!--<mat-icon>chevron_right</mat-icon>-->
  <!--</button>-->
  <!--</div>-->
  <br><br>
  <table class="table shadow">
    <thead>
    <th></th>
    <th *ngFor="let weekDay of weekDays; let i = index">
      {{weekDays[i] | date: 'EEEE'}}<br> <span class="small-date">{{weekDays[i] | date: "dd.MM.yyyy"}}</span>
    </th>
    </thead>
    <tbody>
    <tr *ngFor="let time of timeTable">
      <td class="time">{{time}}</td>
      <td *ngFor="let workDay of workDays" class="slot"
          (click)="handleRegistryConfirmation($event, workDay, time)"></td>
      <td class="slot-holiday"></td>
    </tr>
    </tbody>
  </table>

</div>
