@import "~src/css/breakpoints";

.toolbar {
  flex-wrap: wrap;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.toolbar__logo-icon {
  margin-right: 8px;
}

.toolbar__logo {
  font-size: 16px;
}

.toolbar__nav-element {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  @media (max-width: $mobile-large) {
    display: none;
  }
}

.toolbar__flex-spacer {
  flex-grow: 1;
}

.toolbar__greeting {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.toolbar__loggedin-icon {
  position: relative;
  bottom: -4px;
  margin-left: 10px;
  margin-right: 14px;
  color: white;
  cursor: pointer;
}

.toolbar__hamburger {
  display: none;
  margin-left: 0;
  @media (max-width: $mobile-large) {
    display: block;
  }
}
