<div #content class="modal-header">
  <h4 class="modal-title">Details of you visit:</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div>
   <p class="modal-text">You have selected visit on:  <br/>
  <strong>{{selectedTimestamp | date: 'EEEE'}} {{selectedTimestamp | date: 'dd.MM.yyyy'}}</strong>
  at <strong>{{selectedTimestamp | date: 'HH:mm' : 'UTC'}}</strong></p>
  <p class="modal-text">Do you confirm your visit?</p>
</div>
<div class="modal-footer">
  <button align="left" type="button" class="btn btn-primary" (click)="activeModal.close('Confirm click'); confirmVisit(selectedTimestamp)">Confirm</button>
  <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Close</button>
</div>

