.contact__avatar {
  width: 150px;
}

.contact__container-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.contact__container-flex-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.contact__vip-star {
  position: relative;
  font-size: 1.2rem;
  margin-left: 10px;
  // bottom: -5px;
}

.contact__flex-avatar {
  flex: 0;
  margin-right: 20px;
}

.contact__flex-name {
  flex: 1;
}

.contact__flex-address {
  min-width: 350px;
  flex: 0;
}

.contact__contact-icon {
  margin-right: 10px;
}