table {
  width: 100%;
}

.prev-next-btn {
  position: relative;
  float: left;
  width: 150px;
  margin-right: 15px;
  bottom: -10px;
}

.date-picker {
  position: relative;
  float: left;
}
.enter-link{
  float: right;
}

.td-icon{
  position: relative;
  bottom: -6px;
  margin-left: 3px;
}

.vip {
  position: relative;
  font-size: 18px;
  bottom: -4px;
}
