<div class="main-content">
  <h1>List of visits</h1>
  <h2>{{currentDate | date: 'dd.MM.yyyy'}}</h2>

  <div>
    <button class="prev-next-btn" mat-raised-button color="primary" (click)="prevDayVisits()">
      <mat-icon>chevron_left</mat-icon>
      Previous day
    </button>
  </div>
  <div>
    <button class="prev-next-btn" mat-raised-button color="primary" (click)="nextDayVisits()">
      Next day
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <div>
    <mat-form-field class="date-picker">
      <input matInput [matDatepicker]="picker" placeholder="Select date"
             (dateChange)="dateChangeEvent($event)" autocomplete="off" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <mat-form-field class="right">
    <input matInput autocomplete="off" [(ngModel)]='filterString' placeholder="Filter by surname">
  </mat-form-field>
  <br>
  <table class="table shadow">
    <thead>
    <tr>
      <th>Time</th>
      <th>Date</th>
      <th>Patient surname</th>
      <th>Patient name</th>
      <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let visit of filteredVisitsByDay">
      <td>{{visit.visitDate | date: 'H:mm' : 'UTC'}}</td>
      <td>{{visit.visitDate | date: 'yyyy-MM-dd'}}</td>
      <td>{{visit.patient.lastName}}</td>
      <td>{{visit.patient.firstName}}</td>
      <td><a routerLink="../patients/{{visit.patient.id}}">
        <mat-icon color="primary" matTooltip="View patient's card" matTooltipPosition="before">chrome_reader_mode</mat-icon>
      </a></td>
    </tr>
    </tbody>
  </table>
</div>
