<div class="main-content" *ngIf="patient">
  <div class="row">
    <div class="page-header col">
      <h1>{{patient.firstName}} {{patient.lastName}}
        <small> PESEL:&nbsp;{{patient.pesel}}</small>
      </h1>

    </div>


    <div class="col" align="right">

      Patient address: <br>ul. {{patient.address.street}}
      {{patient.address.house}}/{{patient.address.apartment}}<br> {{patient.address.postal}}
      {{patient.address.city}}
    </div>
  </div>
  <hr>
  <app-visit-history [patientId]="patient.id"></app-visit-history>
  <div align="right">
    <a routerLink="../">add note</a> | <a routerLink="../">back</a>
  </div>
</div>
