<div class="main-content" *ngIf="patient">
  <div class="row">
    <div class="page-header col">
      <h1>{{patient.lastName}}, {{patient.firstName}} <mat-icon *ngIf="patient.vip" class="vip">star</mat-icon></h1>
        <h2>{{patient.pesel}}</h2>


    </div>


    <div class="col" align="right">

      Address: <br>ul. {{patient.address.street}}
      {{patient.address.house}}/{{patient.address.apartment}}<br> {{patient.address.postal}}
      {{patient.address.city}}
    </div>
  </div>
  <mat-divider></mat-divider>
  <app-visit-history [patientId]="patient.id"></app-visit-history>
</div>
