<div class="main-content" *ngIf="patient">
  <div class="row">
    <div class="page-header col">
      <h1>{{patient.firstName}} {{patient.lastName}}<br>
        <small>{{patient.pesel}}</small>
      </h1>

    </div>


    <div class="col" align="right">

      Address: <br>ul. {{patient.address.street}}
      {{patient.address.house}}/{{patient.address.apartment}}<br> {{patient.address.postal}}
      {{patient.address.city}}
    </div>
  </div>
  <mat-divider></mat-divider>
  <app-visit-history [patientId]="patient.id"></app-visit-history>
</div>
