<div class="container">
  <h2>Book your visit:</h2>
  <br>

  <div class="float-left"><a href="#"><- Previous week</a></div>
  <div class="float-right"><a href="#">Next week -></a></div>

  <table class="table">
    <thead>
    <td>time</td>
    <td>Monday<br> <span class="small-date">1.07.2018</span></td>
    <td>Tuesday<br> <span class="small-date">2.07.2018</span></td>
    <td>Wednesday<br> <span class="small-date">3.07.2018</span></td>
    <td>Thursday<br> <span class="small-date">4.07.2018</span></td>
    <td>Friday<br> <span class="small-date">5.07.2018</span></td>
    <td>Saturday<br> <span class="small-date">6.07.2018</span></td>
    <td>Sunday<br> <span class="small-date">7.07.2018</span></td>
    </thead>
    <tbody>
    <tr>
      <td>8:00 - 8:30</td>
      <td class="slot"></td>
      <td class="slot"></td>
      <td class="slot"></td>
      <td class="slot"></td>
      <td class="slot"></td>
      <td class="slot"></td>
      <td class="slot-holiday"></td>
    </tr>
    <tr>
      <td>8:30 - 9:00</td>
      <td class="slot taken"></td>
      <td class="slot"></td>
      <td class="slot taken"></td>
      <td class="slot"></td>
      <td class="slot"></td>
      <td class="slot"></td>
      <td class="slot-holiday"></td>
    </tr>
    <tr>
      <td>9:00 - 9:30</td>
      <td class="slot"></td>
      <td class="slot"></td>
      <td class="slot"></td>
      <td class="slot"></td>
      <td class="slot"></td>
      <td class="slot"></td>
      <td class="slot-holiday"></td>
    </tr>
    <tr>
      <td>9:30 - 10:00</td>
      <td class="slot"></td>
      <td class="slot"></td>
      <td class="slot"></td>
      <td class="slot"></td>
      <td class="slot"></td>
      <td class="slot"></td>
      <td class="slot-holiday"></td>
    </tr>
    <tr>
      <td>10:00 - 10:30</td>
      <td class="slot"></td>
      <td class="slot"></td>
      <td class="slot"></td>
      <td class="slot"></td>
      <td class="slot"></td>
      <td class="slot"></td>
      <td class="slot-holiday"></td>
    </tr>
    </tbody>
  </table>

</div>
