.slot {
  background-color: aliceblue;
  cursor: pointer;
  transition: 0.2s;
  width: 13%;
}

.slot-holiday {
  background-color: darkgray;
  cursor: default;
  transition: 0.2s;
}

.slot-holiday:hover {
  background-color: dimgray;
  cursor: default;
}

.slot:hover {
  background-color: cornflowerblue;
}

.taken{
  background-color: lightcoral;
}

.taken:hover {
  background-color: #d24a4b;
}

.small-date{
  font-size: small;
  color: lightslategrey;
}
