<div class="container">
  <h2>Book your visit:</h2>
  <br>

  <div class="float-left"><a href="" (click)="prevWeek($event)"><- Previous week</a></div>
  <div class="float-right"><a href="" (click)="nextWeek($event)">Next week -></a></div>
  <table class="table">
    <thead>
    <td></td>
    <td *ngFor="let weekDay of weekDays; let i = index">
      {{weekDays[i] | date: 'EEEE'}}<br> <span class="small-date">{{weekDays[i] | date: "dd.MM.yyyy"}}</span>
    </td>
    </thead>
    <tbody>
    <tr *ngFor="let time of timeTable">
      <td>{{time}}</td>
      <td *ngFor="let workDay of [1,2,3,4,5,6]" class="slot" (click)="handleRegistryConfirmation($event)"></td>
      <td class="slot-holiday"></td>
    </tr>
    </tbody>
  </table>
</div>
