<div class="container">
  <h2>Book your visit:</h2>
  <br>

  <div class="float-left"><a href="" (click)="prevWeek($event)"><- Previous week</a></div>
  <div class="float-right"><a href="" (click)="nextWeek($event)">Next week -></a></div>
  <table class="table">
    <thead>
    <td></td>
    <td>{{weekDays[0] | date: 'EEEE'}}<br> <span class="small-date">{{weekDays[0] | date: "dd.MM.yyyy"}}</span></td>
    <td>{{weekDays[1] | date: 'EEEE'}}<br> <span class="small-date">{{weekDays[1] | date: "dd.MM.yyyy"}}</span></td>
    <td>{{weekDays[2] | date: 'EEEE'}}<br> <span class="small-date">{{weekDays[2] | date: "dd.MM.yyyy"}}</span></td>
    <td>{{weekDays[3] | date: 'EEEE'}}<br> <span class="small-date">{{weekDays[3] | date: "dd.MM.yyyy"}}</span></td>
    <td>{{weekDays[4] | date: 'EEEE'}}<br> <span class="small-date">{{weekDays[4] | date: "dd.MM.yyyy"}}</span></td>
    <td>{{weekDays[5] | date: 'EEEE'}}<br> <span class="small-date">{{weekDays[5] | date: "dd.MM.yyyy"}}</span></td>
    <td>{{weekDays[6] | date: 'EEEE'}}<br> <span class="small-date">{{weekDays[6] | date: "dd.MM.yyyy"}}</span></td>
    </thead>
    <tbody>
    <tr *ngFor="let time of timeTable">
      <td>{{time}}</td>
      <td class="slot" (click)="openSummary()"></td>
      <td class="slot" (click)="openSummary()"></td>
      <td class="slot" (click)="openSummary()"></td>
      <td class="slot" (click)="openSummary()"></td>
      <td class="slot" (click)="openSummary()"></td>
      <td class="slot" (click)="openSummary()"></td>
      <td class="slot-holiday"></td>
    </tr>
    </tbody>
  </table>

</div>
