<div class="container">
  <form [formGroup]="visitForm" (ngSubmit)="submitVisit()" novalidate>
    <div *ngIf="validMessage !=''">
      <div class="alert alert-danger" role="alert">
        {{validMessage}}
      </div>
    </div>
    <div class="form-group">
      <label for="visitDate">Visit date</label>
      <input class="form-control" type="date" name="visitDate" id="visitDate" formControlName="visitDate" required autofocus>
      <!--<label for="patient">Patient</label>-->
      <!--<input class="form-control" type="text" name="patient" id="patient" formControlName="patient" autofocus>-->

      <label for="patient">Patient </label>
      <select class="form-control" name="patient" id="patient" name="patient">
        <option *ngFor="let patient of patients" ngValue="{{patient}}">{{patient.firstName}} {{patient.lastName}}</option>
      </select>

    </div>
    <button type="submit" class="btn btn-primary">Save visit</button>
  </form>
</div>

