$patient-details: "../../../../assets/hero-images/form_2048x1365.jpg";
$calendar: "../../../../assets/hero-images/office_3000x1430.jpg";
$patient-list: "../../../../assets/hero-images/tools_white.jpg";
$registration-form: "../../../../assets/hero-images/tools_white.jpg";
$visits: "../../../../assets/hero-images/tools_white.jpg";

