<mat-dialog-content>
  <div *ngIf="data==='terms'">
    <h3>Terms and conditions</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non varius erat. Etiam finibus volutpat maximus.
      Etiam erat neque, ultricies gravida laoreet tincidunt, laoreet non leo. Proin a orci lacus. Nullam elementum,
      turpis
      sed interdum interdum, nisi enim porttitor lorem, tincidunt tincidunt nibh sem sit amet ex. Integer lorem lacus,
      sodales quis rhoncus at, fringilla a nisi. Nunc mollis tempus malesuada. Nunc aliquam, nulla sed blandit volutpat,
      diam metus luctus tortor, ac lacinia nisl orci eget nisl. Maecenas vehicula dolor non tincidunt imperdiet.
      Praesent
      facilisis magna vel purus pretium suscipit. Curabitur pretium eros vel libero sollicitudin gravida non sed elit.
      Etiam cursus tortor at erat varius, eu auctor nulla consequat. Nulla facilisi.</p>
    <p>
      Donec ut eros nunc. Praesent odio metus, fringilla quis sagittis at, dapibus sit amet dui. Aenean non nibh id
      tortor
      posuere posuere eget vitae dolor. Cras suscipit nec risus a malesuada. Donec id tincidunt nunc. Praesent ut rutrum
      felis. Aenean lacinia semper mollis. Maecenas finibus est nec volutpat vehicula. Pellentesque aliquam tristique
      justo in pulvinar. Ut sem sem, cursus nec dictum sed, molestie in nulla. Donec vel aliquet leo, vulputate commodo
      lacus. Mauris urna arcu, tempor sit amet vehicula efficitur, pellentesque nec tortor.
    </p>
    <p>
      Sed sit amet lectus lectus. Proin tincidunt vulputate lobortis. Vivamus et sapien aliquet, pretium justo vel,
      aliquam lorem. Donec ultricies elit id quam congue fringilla. Ut porta velit eget mollis porta. Etiam commodo a
      erat
      eget gravida. Vestibulum vel vehicula velit. Nam vitae ex ut augue condimentum efficitur. Integer quis finibus
      magna. Proin porta lacinia sodales. Suspendisse et nisi eu neque porta accumsan nec eget nisl. Nam egestas finibus
      sem sit amet facilisis.
    </p>
  </div>
  <div *ngIf="data==='gdpr'">
    <h3>GDPR consent</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non varius erat. Etiam finibus volutpat maximus.
      Etiam erat neque, ultricies gravida laoreet tincidunt, laoreet non leo. Proin a orci lacus. Nullam elementum,
      turpis
      sed interdum interdum, nisi enim porttitor lorem, tincidunt tincidunt nibh sem sit amet ex. Integer lorem lacus,
      sodales quis rhoncus at, fringilla a nisi. Nunc mollis tempus malesuada. Nunc aliquam, nulla sed blandit volutpat,
      diam metus luctus tortor, ac lacinia nisl orci eget nisl. Maecenas vehicula dolor non tincidunt imperdiet.
      Praesent
      facilisis magna vel purus pretium suscipit. Curabitur pretium eros vel libero sollicitudin gravida non sed elit.
      Etiam cursus tortor at erat varius, eu auctor nulla consequat. Nulla facilisi.</p>
    <p>
      Donec ut eros nunc. Praesent odio metus, fringilla quis sagittis at, dapibus sit amet dui. Aenean non nibh id
      tortor
      posuere posuere eget vitae dolor. Cras suscipit nec risus a malesuada. Donec id tincidunt nunc. Praesent ut rutrum
      felis. Aenean lacinia semper mollis. Maecenas finibus est nec volutpat vehicula. Pellentesque aliquam tristique
      justo in pulvinar. Ut sem sem, cursus nec dictum sed, molestie in nulla. Donec vel aliquet leo, vulputate commodo
      lacus. Mauris urna arcu, tempor sit amet vehicula efficitur, pellentesque nec tortor.
    </p>
    <p>
      Sed sit amet lectus lectus. Proin tincidunt vulputate lobortis. Vivamus et sapien aliquet, pretium justo vel,
      aliquam lorem. Donec ultricies elit id quam congue fringilla. Ut porta velit eget mollis porta. Etiam commodo a
      erat
      eget gravida. Vestibulum vel vehicula velit. Nam vitae ex ut augue condimentum efficitur. Integer quis finibus
      magna. Proin porta lacinia sodales. Suspendisse et nisi eu neque porta accumsan nec eget nisl. Nam egestas finibus
      sem sit amet facilisis.
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="container-flex">
  <button mat-button color="primary" (click)="dismiss()">Close</button>
</mat-dialog-actions>
