@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@media (min-width: 576px) {
  .main-content {
    max-width: 540px
  }
}

@media (min-width: 768px) {
  .main-content {
    max-width: 720px
  }
}

@media (min-width: 992px) {
  .main-content {
    max-width: 960px
  }
}

@media (min-width: 1200px) {
  .main-content {
    max-width: 1140px
  }
}

body {
  font-family: sans-serif;
  color: rgba(0,0,0,.54);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 0 0 24px;
}

.main-content{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
  }

.container-flex{
  display: flex;
  justify-content: space-between;
}
