<div class="container" *ngIf="visit">
  <div class="row">
    <div class="page-header col">
      <h1>{{visit.patient.firstName}} {{visit.patient.lastName}}
        <small> PESEL:&nbsp;{{visit.patient.pesel}}</small>
      </h1>

    </div>


    <div class="col" align="right">

      Patient address: <br>ul. {{visit.patient.address.street}}
      {{visit.patient.address.house}}/{{visit.patient.address.apartment}}<br> {{visit.patient.address.postal}}
      {{visit.patient.address.city}}
    </div>
  </div>
  <hr>
  <div align="right">
    <h3> Visit date: {{visit.visitDate | date: 'dd.MM.yyyy'}}</h3>
  </div>
  <br>
  Notes:

  <div *ngFor="let note of visit.notes" class="card" style="margin: 15px">
    <div class="card">
      <div class="card-header">
        {{note.noteDate}}
      </div>
      <div class="card-body">
        <div class="row">
          <table class="table">
            <thead>
            <td>Description:</td>
            <td>Prescriptions:</td>
            </thead>
            <tr>
              <td>
                {{note.note}}
              </td>
              <td style="width: 20%">
                {{note.prescriptions}}blabla
              </td>
            </tr>
          </table>
        </div>
        <div align="right"><a routerLink="">edit</a></div>
      </div>
    </div>
  </div>
  <div align="right">
    <a routerLink="../">add note</a> | <a routerLink="../">back</a>
  </div>
</div>
